html(lang="en")
  head
    title Flow - Build reliable apps with AI
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(rel="preconnect" href="https://fonts.gstatic.com")
    link(href="https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet")
    link(rel="stylesheet" href="css/tailwind/tailwind.min.css")
    link(rel="icon" type="image/png" sizes="32x32" href="favicon.png")
    script(src="https://cdn.jsdelivr.net/npm/alpinejs@3.13.3/dist/cdn.min.js" defer="defer")
  body(class="antialiased bg-body text-body font-body")
    div(class="")
      div
        section(x-data="{ mobileNavOpen: false }" class="overflow-hidden")
          nav(class="mx-4 py-6 border-b")
            div(class="container mx-auto px-4")
              div(class="relative flex items-center justify-between")
                a(href="index.html" class="inline-block")
                  img(class="h-9" src="images/logo.svg" alt="")
                ul(class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 hidden md:flex")
                  li(class="mr-4 lg:mr-8")
                  li(class="mr-8")
                    a(class="inline-block text-teal-900 hover:text-zinc-400 font-medium" href="/index.html#introducing") Introducing Flow
                  li(class="mr-8")
                    a(class="inline-block text-teal-900 hover:text-zinc-400 font-medium" href="/about.html") About us
                  li
                    a(class="inline-block text-teal-900 hover:text-zinc-400 font-medium" href="/index.html#cases") Use Cases
                div(class="flex items-center justify-end")
                  div(class="hidden md:block")
                    div(class="hidden md:block")
                      a(href="mailto:contact@create-flow.ai" class="inline-flex py-2.5 px-4 items-center justify-center text-sm font-medium text-white border border-blue-500 hover:border-blue-700 bg-blue-500 hover:bg-blue-700 rounded-full transition duration-200") Get in touch
                  button(x-on:click="mobileNavOpen = !mobileNavOpen" class="md:hidden text-teal-900 hover:text-teal-800")
                    svg(width="32" height="32" viewbox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg")
                      path(d="M5.19995 23.2H26.7999" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round")
                      path(d="M5.19995 16H26.7999" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round")
                      path(d="M5.19995 8.79999H26.7999" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round")
          div(:class="{'block': mobileNavOpen, 'hidden': !mobileNavOpen}" class="hidden fixed top-0 left-0 bottom-0 w-full xs:w-5/6 xs:max-w-md z-50")
            div(x-on:click="mobileNavOpen = !mobileNavOpen" class="fixed inset-0 bg-violet-900 opacity-20")
            nav(class="relative flex flex-col py-7 px-10 w-full h-full bg-white overflow-y-auto")
              div(class="flex items-center justify-between")
                a(href="/" class="inline-block")
                  img(class="h-12" src="images/logo.svg" alt="")
                div(class="flex items-center")
                  button(x-on:click="mobileNavOpen = !mobileNavOpen" class="ml-6")
                    svg(width="32" height="32" viewbox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg")
                      path(d="M23.2 8.79999L8.80005 23.2M8.80005 8.79999L23.2 23.2" stroke="#1D1F1E" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round")
              div(class="pt-20 pb-12 mb-auto")
                ul(class="flex-col")
                  li(class="mb-6")
                    a(class="inline-block text-teal-900 hover:text-zinc-400 font-medium" href="/index.html#introducing") Introducing Flow
                  li(class="mb-6")
                    a(class="inline-block text-teal-900 hover:text-zinc-400 font-medium" href="/about.html") About Us
                  li(class="mb-6")
                    a(class="inline-block text-teal-900 hover:text-zinc-400 font-medium" href="/index.html#cases") Use Cases
              div(class="flex items-center justify-between")
                a(href="#" class="inline-flex items-center text-lg font-medium text-teal-900")
                div(class="flex items-center")
                  a(href="https://www.facebook.com/create.flow.official/" class="inline-block mr-4")
                    svg(width="20" height="20" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg")
                      g(clip-path="url(#clip0_282_7847)")
                        path(d="M11.548 19.9999V10.8776H14.6087L15.0679 7.32146H11.548V5.05136C11.548 4.02209 11.8326 3.32066 13.3103 3.32066L15.1918 3.31988V0.139123C14.8664 0.0968385 13.7495 -0.000106812 12.4495 -0.000106812C9.73488 -0.000106812 7.87642 1.65686 7.87642 4.69916V7.32146H4.8064V10.8776H7.87642V19.9999H11.548Z" fill="#022C22")
                  |                   
                  a(href="https://www.linkedin.com/company/create-flow-ai" class="inline-block")
                    svg(width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")
                      path(d="M19 3C19.5304 3 20.0391 3.21071 20.4142 3.58579C20.7893 3.96086 21 4.46957 21 5V19C21 19.5304 20.7893 20.0391 20.4142 20.4142C20.0391 20.7893 19.5304 21 19 21H5C4.46957 21 3.96086 20.7893 3.58579 20.4142C3.21071 20.0391 3 19.5304 3 19V5C3 4.46957 3.21071 3.96086 3.58579 3.58579C3.96086 3.21071 4.46957 3 5 3H19ZM18.5 18.5V13.2C18.5 12.3354 18.1565 11.5062 17.5452 10.8948C16.9338 10.2835 16.1046 9.94 15.24 9.94C14.39 9.94 13.4 10.46 12.92 11.24V10.13H10.13V18.5H12.92V13.57C12.92 12.8 13.54 12.17 14.31 12.17C14.6813 12.17 15.0374 12.3175 15.2999 12.5801C15.5625 12.8426 15.71 13.1987 15.71 13.57V18.5H18.5ZM6.88 8.56C7.32556 8.56 7.75288 8.383 8.06794 8.06794C8.383 7.75288 8.56 7.32556 8.56 6.88C8.56 5.95 7.81 5.19 6.88 5.19C6.43178 5.19 6.00193 5.36805 5.68499 5.68499C5.36805 6.00193 5.19 6.43178 5.19 6.88C5.19 7.81 5.95 8.56 6.88 8.56ZM8.27 18.5V10.13H5.5V18.5H8.27Z" fill="currentColor")
      section(class="relative py-12 lg:py-24 overflow-hidden")
        img(class="absolute bottom-0 left-0" src="fauna-assets/about/lines.svg" alt="")
        div(class="container mx-auto px-4 relative")
          div(class="max-w-4xl mx-auto text-center")
            h1(class="font-heading text-5xl sm:text-6xl mb-8") About us
            p(class="text-2xl text-black font-medium mb-10") We are a team of AI researchers and software architects from leading technology companies like Google and Apple, united by a mission to tackle one of AI's biggest challenges: making AI-generated code reliable. That mission led us to create Flow — the first-of-its-kind AI application builder that produces secure, dependable, and truly usable software.
      section(class="py-12 lg:py-24")
        div(class="container mx-auto px-4")
          div(class="flex flex-wrap -mx-4 mb-24")
            div(class="w-full md:w-1/2 px-4 mb-6 md:mb-0")
              div
                h1(class="font-heading text-6xl") Life at Flow
            div(class="w-full md:w-1/2 px-4")
              div(class="lg:max-w-lg md:ml-auto")
                p(class="text-xl font-medium mb-10") At Flow, innovation isn't just a value — it's our foundation. We've built our culture to nurture meaningful progress, empower creativity, and ensure every voice helps drive our mission forward. If this kind of environment inspires you, we'd love to hear from you — come join our team and help shape the future of AI. 
        div(class="flex justify-center overflow-x-scroll")
          div(class="flex-shrink-0 h-96 max-w-xs sm:max-w-md md:max-w-xl mr-4 sm:mr-8 flex items-stretch rounded-3xl")
            img(class="block w-full h-96 object-cover rounded-3xl" src="fauna-assets/about/about-image5.png" alt="")
          div(class="flex-shrink-0 h-96 max-w-xs sm:max-w-md md:max-w-xl mr-4 sm:mr-8 flex items-stretch rounded-3xl")
            img(class="block w-full h-96 object-cover rounded-3xl" src="fauna-assets/about/about-image3.png" alt="")
          div(class="flex-shrink-0 h-96 max-w-xs sm:max-w-md md:max-w-xl mr-4 sm:mr-8 flex items-stretch rounded-3xl")
            img(class="block w-full h-96 object-cover rounded-3xl" src="fauna-assets/about/about-image4.png" alt="")
          div(class="flex-shrink-0 h-96 max-w-xs sm:max-w-md md:max-w-xl mr-4 sm:mr-8 flex items-stretch rounded-3xl")
            img(class="block w-full h-96 object-cover rounded-3xl" src="fauna-assets/about/about-image1.png" alt="")
          div(class="flex-shrink-0 h-96 max-w-xs sm:max-w-md md:max-w-xl mr-4 sm:mr-8 flex items-stretch rounded-3xl")
            img(class="block w-full h-96 object-cover rounded-3xl" src="fauna-assets/about/about-image-right.png" alt="")
          div(class="flex-shrink-0 h-96 max-w-xs sm:max-w-md md:max-w-xl mr-4 sm:mr-8 flex items-stretch rounded-3xl")
            img(class="block w-full h-96 object-cover rounded-3xl" src="fauna-assets/about/about-image2.png" alt="")
      a(id="careers")
      section(class="py-12 lg:pt-16 lg:pb-24 overflow-hidden")
        div(class="container mx-auto px-4")
          div(class="flex flex-wrap items-center -mx-4 mb-16")
            div(class="w-full lg:w-1/2 px-4 mb-12 lg:mb-0")
              h1(class="font-heading text-4xl sm:text-6xl md:text-7xl tracking-sm mb-6") Join our team
              p(class="text-lg text-gray-700") Our philosophy is simple - make the world a greener place. 
            div(class="w-full lg:w-1/2 px-4")
              img(class="block" src="fauna-assets/career/team-members-photos.png" alt="")
          div(class="flex flex-wrap items-center -mx-4 mb-16")
            <iframe src="https://main.d2xfjmtv7htpl2.amplifyapp.com/careers/flow-ai?embed=true" width="100%" height="640"   style="border: none; border-radius: 12px;"   title="Career Opportunities"></iframe>
      div
        div
          section
            div(class="p-4")
              div(class="max-w-xl lg:max-w-5xl mx-auto xl:max-w-none px-5 md:px-12 xl:px-24 py-16 bg-zinc-700 rounded-2xl")
                div(class="container mx-auto px-4")
                  div(class="flex flex-wrap items-center -mx-4")
                    div(class="w-full lg:w-2/3 px-4 mb-8 lg:mb-0")
                      div(class="max-w-md xl:max-w-none")
                        h1(class="font-heading text-4xl xs:text-5xl sm:text-6xl tracking-sm text-white mb-6") Get Started With Flow Today
                        p(class="text-lg text-white opacity-80") Experience exponential gain in efficiency with apps that are built specifically to your command in minutes. Join the revolution today.
                    div(class="w-full lg:w-1/3 px-4 lg:text-right")
                      a(href="mailto:contact@create-flow.ai" class="inline-flex py-4 px-6 items-center justify-center text-lg font-medium text-white hover:text-teal-900 border border-slate-300 hover:border-white bg-slate-300 hover:bg-white rounded-full transition duration-200") Get in touch
      section(class="relative py-12 lg:py-24 bg-orange-50 overflow-hidden mt-10")
        img(class="absolute bottom-0 left-0" src="fauna-assets/footer/waves-lines-left-bottom.png" alt="")
        div(class="container px-4 mx-auto relative")
          div(class="flex flex-wrap mb-16 -mx-4")
          div(class="flex flex-wrap -mb-3 justify-between")
            div(class="flex items-center mb-3")
              a(href="https://www.facebook.com/create.flow.official/" class="inline-block mr-4 text-black hover:text-zinc-400")
                svg(width="20" height="20" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg")
                  g(clip-path="url(#clip0_230_4832)")
                    path(d="M11.5481 19.9999V10.8776H14.6088L15.068 7.32147H11.5481V5.05138C11.5481 4.02211 11.8327 3.32067 13.3104 3.32067L15.1919 3.3199V0.139138C14.8665 0.0968538 13.7496 -9.15527e-05 12.4496 -9.15527e-05C9.735 -9.15527e-05 7.87654 1.65687 7.87654 4.69918V7.32147H4.80652V10.8776H7.87654V19.9999H11.5481Z" fill="currentColor")
              |               
              a(href="https://www.linkedin.com/company/create-flow-ai" class="inline-block text-black hover:text-zinc-400")
                svg(width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")
                  path(d="M19 3C19.5304 3 20.0391 3.21071 20.4142 3.58579C20.7893 3.96086 21 4.46957 21 5V19C21 19.5304 20.7893 20.0391 20.4142 20.4142C20.0391 20.7893 19.5304 21 19 21H5C4.46957 21 3.96086 20.7893 3.58579 20.4142C3.21071 20.0391 3 19.5304 3 19V5C3 4.46957 3.21071 3.96086 3.58579 3.58579C3.96086 3.21071 4.46957 3 5 3H19ZM18.5 18.5V13.2C18.5 12.3354 18.1565 11.5062 17.5452 10.8948C16.9338 10.2835 16.1046 9.94 15.24 9.94C14.39 9.94 13.4 10.46 12.92 11.24V10.13H10.13V18.5H12.92V13.57C12.92 12.8 13.54 12.17 14.31 12.17C14.6813 12.17 15.0374 12.3175 15.2999 12.5801C15.5625 12.8426 15.71 13.1987 15.71 13.57V18.5H18.5ZM6.88 8.56C7.32556 8.56 7.75288 8.383 8.06794 8.06794C8.383 7.75288 8.56 7.32556 8.56 6.88C8.56 5.95 7.81 5.19 6.88 5.19C6.43178 5.19 6.00193 5.36805 5.68499 5.68499C5.36805 6.00193 5.19 6.43178 5.19 6.88C5.19 7.81 5.95 8.56 6.88 8.56ZM8.27 18.5V10.13H5.5V18.5H8.27Z" fill="currentColor")
            p(class="text-sm text-gray-500 mb-3") © 2025 Flow. All rights reserved.
